body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'PoppinsHeader';
}

html,
body {
  overflow-x: hidden;
}

main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

footer,
body,
html,
main {
  background-color: black;
}

h2,
h3,
h4,
h5,
textarea,
p,
a,
input,
input::placeholder,
textarea::placeholder {
  color: lightslategray;
}

input::placeholder,
textarea::placeholder {
  opacity: 0.5;
}

h1,
h2,
h3 {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h4,
h5,
p,
textarea,
input,
li,
a {
  font-family: 'PoppinsBody', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

p {
  letter-spacing: 1px;
}

/* ----- Universal properties*/
#portfolio,
#about,
#contact-form,
#resume,
nav {
  padding: 0 25px;
}

#about {
  text-align: justify;
}

#main-section-header {
  color: lightslategray !important;
  font-size: 30px;
  letter-spacing: 2px;
}

#main-section-hr {
  width: 300px;
  font-size: 30px;
  letter-spacing: 2px;
}